<footer class="p-4 sm:p-12 lg:p-24 xl:p-36 bg-blue-light text-black">
  <div
    class="grid sm:grid-cols-2 md:grid-cols-4 gap-6 mb-14 lg:gap-20 justify-center md:justify-items-center items-start"
  >
    <div class="max-w-56">
      <app-logo type="logo-text"></app-logo>
      <p class="pt-5 text-xs font-proxima">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text
        ever.Since the 1500s, when an unknown printer.
      </p>
    </div>

    <div class="max-w-48">
      <h3 class="text-lg pt-5">Follow Us</h3>
      <p class="pt-5 text-xs font-proxima">
        Since the 1500s, when an unknown printer took a galley of type and
        scrambled.
      </p>
      <div class="flex gap-8 mt-5">
        <a href="https://www.facebook.com/">
          <hlm-icon
            size="sm"
            name="lucideFacebook"
            class="cursor-pointer hover:text-white transition"
        /></a>
        <a href="https://twitter.com/"
          ><hlm-icon
            size="sm"
            name="lucideTwitter"
            class="cursor-pointer hover:text-white transition"
        /></a>
      </div>
    </div>

    <div>
      <h3 class="text-lg pt-5">Contact us</h3>
      <p class="pt-5 text-xs">
        E-Comm , 4578 <br />
        Marmora Road, <br />
        Glasgow D04 89GR
      </p>
    </div>

    <div *ngFor="let footerSection of footerSections">
      <h3 class="pt-5 text-lg">{{ footerSection.title }}</h3>
      <ul class="pt-5">
        <li
          class="text-xs cursor-pointer hover:text-white transition"
          *ngFor="let link of footerSection.links"
        >
          <a [href]="link.url">{{ link.title }}</a>
        </li>
      </ul>
    </div>
  </div>

  <hr class="text-white opacity-80 pb-7" />

  <div class="sm:flex justify-between">
    <p class="text-sm font-proxima text-grey-dark text-center pb-5 sm:pb-0">
      © 2024 Ecommerce Grid Dynamics Internship
    </p>

    <div class="flex gap-5 justify-center">
      <img *ngFor="let img of paymentImg" [src]="img.url" [alt]="img.alt" />
    </div>
  </div>
</footer>
