<div
  class="container flex flex-col xl:flex-row flex-wrap gap-10 justify-around items-center text-black"
>
  <div class="flex flex-col mt-10">
    @if (!isLoading && (product$ | async); as product) {
      <div class="flex flex-col md:flex-row">
        <div>
          <app-image-gallery [images]="product.images"></app-image-gallery>
        </div>

        <div class="mx-5 sm:mx-10 md:w-[18rem] lg:w-[31rem]">
          <div class="flex flex-col justify-between">
            <div>
              <h1 class="text-2xl font-medium text-center md:text-start">
                {{ product.name }}
              </h1>
              <div
                class="mt-2.5 mb-5 flex items-center justify-center md:justify-start"
              >
                @for (star of getStarsArray(); track star) {
                  <svg
                    class="w-3 h-3"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 22 20"
                  >
                    <path
                      [attr.fill]="
                        star <= product.rating
                          ? 'hsl(var(--yellow))'
                          : 'hsl(var(--grey))'
                      "
                      d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                    />
                  </svg>
                }
              </div>
              <hr class="h-0.5 my-4 bg-grey-light border-0" />
              <div class="flex items-center gap-4">
                <span
                  class="text-xl font-semibold text-primary text-slate-900"
                  >{{
                    calculateDiscountedPrice(product) | currency: 'USD'
                  }}</span
                >
                @if (product.discount) {
                  <p class="flex gap-2">
                    <span class="text-sm text-grey line-through"
                      >${{ product.price | number: '0.0-2' }}</span
                    >
                    @if (product.discount!.type === 'percentage') {
                      <span
                        class="text-sm font-semibold text-pink text-slate-90"
                        >{{ product.discount.value }}% Off</span
                      >
                    } @else {
                      <span
                        class="text-sm font-semibold text-pink text-slate-90"
                        >{{
                          (product.discount.value * 100) / product.price
                            | number: '0.0-0'
                        }}% Off</span
                      >
                    }
                  </p>
                }
              </div>
              <div class="grid gap-6 mt-6 text-sm">
                @if (selectedProduct.color && selectedProduct.size) {
                  <p>
                    Availability:
                    <span class="ml-2">
                      {{
                        selectedProduct.availableQuantity > 0
                          ? 'In Stock'
                          : 'Out of stock'
                      }}
                    </span>
                  </p>
                }
                <p>
                  Category:
                  @for (category of product.categories; track category) {
                    <span class="ml-2 capitalize">{{ category.name }}</span>
                  }
                </p>
                <p>Free shipping</p>
              </div>
              <hr class="h-0.5 my-4 bg-grey-light border-0" />
              <div class="grid gap-6">
                <div class="flex gap-8 items-center">
                  <span>Select Size:</span>
                  <app-ui-select
                    [selectId]="'productSize'"
                    [selectName]="'productSize'"
                    [values]="(sizes$ | async)!"
                    [(selectedValue)]="selectedProduct.size"
                    (selectedValueChange)="setSize($event)"
                  ></app-ui-select>
                </div>

                @if (selectedProduct.size) {
                  <div class="flex items-center">
                    <span class="mr-3">Select Color:</span>
                    @for (
                      color of colors$ | async;
                      track color;
                      let i = $index
                    ) {
                      <button (click)="selectColorVariant(i)">
                        <div
                          class="m-2 w-6 h-6 rounded-full border-2 border-grey mr-1"
                          [class]="{
                            'border-primary':
                              selectedProduct.color && i === selectedColorIndex
                          }"
                          [style.background]="color"
                        ></div>
                      </button>
                    }
                  </div>
                }
              </div>
              @if (
                selectedProduct.size &&
                selectedProduct.color &&
                selectedProduct.availableQuantity
              ) {
                <div class="mt-2">
                  Available quantity:
                  {{ selectedProduct.availableQuantity }}
                </div>
              }
              <hr class="h-0.5 my-4 bg-grey-light border-0" />
              <div
                class="flex flex-row flex-wrap md:flex-col lg:flex-row gap-2 justify-between align-middle"
              >
                <app-counter-input
                  [min]="0"
                  [max]="selectedProduct.availableQuantity"
                  [currentValue]="this.quantityToBuy"
                  (valueChange)="onQuantityChange($event)"
                ></app-counter-input>

                <div class="flex gap-4">
                  <button
                    class="text-white bg-baby-blue hover:bg-blue-light focus:ring-1 cursor-pointer disabled:bg-grey-light disabled:text-white disabled:cursor-not-allowed focus:outline-none focus:ring-blue font-medium rounded-md text-xs sm:text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-navy/55 me-2 mb-2"
                    [disabled]="
                      !(selectedProduct.size && selectedProduct.color)
                    "
                    (click)="addToCart()"
                  >
                    <hlm-icon
                      size="base"
                      name="lucideShoppingCart"
                      [color]="
                        !(selectedProduct.size && selectedProduct.color)
                          ? 'hsl(var(--white))'
                          : 'hsl(var(--blue))'
                      "
                    ></hlm-icon>
                    <span
                      class="ml-1 text-sm"
                      [class]="
                        !(selectedProduct.size && selectedProduct.color)
                          ? 'text-white'
                          : 'text-primary'
                      "
                      >Add To Cart</span
                    >
                  </button>
                  <button
                    [disabled]="(isAuthenticated | async) === false"
                    class="text-white bg-baby-blue hover:bg-blue-light focus:ring-1 focus:outline-none focus:ring-blue font-medium rounded-md text-sm px-2.5 py-2.5 text-center inline-flex items-center dark:focus:ring-navy/55 me-2 mb-2 disabled:!bg-grey-light disabled:cursor-not-allowed"
                    (click)="toggleFavorites($event, product.id)"
                    type="button"
                    aria-label="Add to Favorites"
                    [ngStyle]="{
                      'background-color':
                        (isFavorite$ | async)
                          ? 'hsl(var(--pink))'
                          : 'hsl(var(--baby-blue))'
                    }"
                  >
                    <hlm-icon
                      size="base"
                      name="lucideHeart"
                      [ngClass]="
                        (isAuthenticated | async) === false ? '!text-grey' : ''
                      "
                      [ngStyle]="{
                        color:
                          (isFavorite$ | async)
                            ? 'hsl(var(--white))'
                            : 'hsl(var(--primary))'
                      }"
                    ></hlm-icon>
                  </button>
                </div>
              </div>
              <hr class="h-0.5 my-4 bg-grey-light border-0" />
              <div
                class="flex flex-col lg:flex-row justify-between items-center"
              >
                <button
                  type="button"
                  class="text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-1 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-md text-sm px-6 py-2.5 text-center inline-flex items-center justify-center dark:focus:ring-[#3b5998]/55 me-2 mb-2 w-full"
                >
                  <hlm-icon
                    size="base"
                    name="lucideFacebook"
                    color="hsl(var(--white))"
                    class="mr-2"
                  ></hlm-icon>
                  Share on Facebook
                </button>
                <button
                  type="button"
                  class="text-white bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-1 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-md text-sm px-6 py-2.5 text-center inline-flex items-center justify-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2 w-full"
                >
                  <hlm-icon
                    size="base"
                    name="lucideTwitter"
                    color="hsl(var(--white))"
                    class="mr-2"
                  ></hlm-icon>
                  Share on Twitter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hlm-tabs tab="productInfo" class="w-full mt-12">
        <hlm-tabs-list
          class="w-full bg-primary-foreground"
          aria-label="tabs example"
        >
          <button hlmTabsTrigger="productInfo" class="font-xs">
            Product Information
          </button>
        </hlm-tabs-list>
        <div hlmTabsContent="productInfo" class="bg-primary-foreground">
          <section hlmCard>
            <p hlmCardContent>
              {{ product.description }}
            </p>
          </section>
        </div>
      </hlm-tabs>
    } @else {
      <div class="flex w-full h-60 justify-center items-center">
        <hlm-spinner />
      </div>
    }
  </div>

  <app-bestseller-card></app-bestseller-card>
</div>
<section class="container text-black py-10 md:py-16 px-4 md:px-16 xl:px-24">
  <h2 class="text-3xl font-semibold text-center uppercase mb-10 lg:mb-16">
    Related Products
  </h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-6"
  >
    @for (product of relatedProducts; track $index) {
      <app-product-card [product]="product"></app-product-card>
    }
  </div>
</section>
