<div>
  <app-sort-bar
    (viewTypeChange)="onViewTypeChange($event)"
    (sortCriteriaChange)="onSortCriteriaChange($event)"
    (productsPerPageChange)="onProductsPerPageChange($event)"
    (orderChange)="onOrderChange($event)"
    [totalProducts]="totalProducts"
  ></app-sort-bar>
</div>

@if (products$ | async; as products) {
  <div *ngIf="products$ | async as products" class="container my-7 mx-auto p-2">
    <div
      *ngIf="isGridView; else listView"
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-6"
    >
      <ng-container *ngFor="let product of products.data">
        <app-product-card
          [product]="product"
          class="m-0 aspect-auto"
        ></app-product-card>
      </ng-container>
    </div>
    <ng-template #listView>
      <div *ngFor="let product of products.data">
        <app-product-list-card [product]="product"></app-product-list-card>
      </div>
    </ng-template>
  </div>
} @else {
  <div class="flex w-full h-60 justify-center items-center">
    <hlm-spinner />
  </div>
}

<nav hlmPagination>
  <ul hlmPaginationContent>
    <li hlmPaginationItem>
      <hlm-pagination-previous (click)="prevPage()" />
    </li>
    <li *ngFor="let page of totalPages" hlmPaginationItem>
      <button
        hlmPaginationLink
        (click)="gotoPage(page)"
        [ngClass]="{ 'bg-primary': currentPage === page }"
      >
        {{ page }}
      </button>
    </li>
    <li hlmPaginationItem>
      <hlm-pagination-next (click)="nextPage()" />
    </li>
  </ul>
</nav>
