<section
  class="container m-auto text-black py-16 md:py-20 px-4 md:px-16 xl:px-24"
>
  <h2 class="text-3xl font-semibold text-center uppercase mb-16">
    Featured Products
  </h2>
  <div
    class="flex flex-col lg:flex-row justify-between items-center text-center"
  >
    @if (products$ | async; as products) {
      <ng-container *ngFor="let product of products.data">
        <a
          class="flex gap-6 py-4 my-4 flex-col items-center px-2 sm:flex-row sm:p-0 transition-shadow duration-300 rounded cursor-pointer hover:shadow-lg hover:shadow-gray-dark"
          [routerLink]="['/shop', product.id]"
        >
          <div class="bg-grey-light w-[152px] h-[152px]">
            <img [src]="product.images[0]" [alt]="product.name" />
          </div>
          <div class="flex flex-col justify-between">
            <h2 class="text-xl font-proxima text-start color-black">
              {{ product.name }}
            </h2>

            <div class="mt-2.5 mb-5 flex gap-1 items-center">
              @for (star of getStarsArray(); track star) {
                <svg
                  class="w-3 h-3"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 22 20"
                >
                  <path
                    [attr.fill]="
                      star <= product.rating
                        ? 'hsl(var(--yellow))'
                        : 'hsl(var(--grey))'
                    "
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                  />
                </svg>
              }
            </div>

            <div class="flex items-center gap-4 pr-4">
              <span class="text-xl font-medium text-pink text-slate-900">
                {{ product.price - product.discount.value | currency: 'USD' }}
              </span>
              <p class="flex gap-2">
                <span class="text-sm text-slate-900 text-grey line-through">
                  {{ product.price | currency: 'USD' }}
                </span>
              </p>
            </div>
          </div>
        </a>
      </ng-container>
    }
  </div>
</section>
