<section
  class="grid justify-items-center font-poppins text-grey-neutral py-16 md:py-20 px-4 md:px-16 xl:px-24"
>
  <app-logo></app-logo>
  <h3 class="mt-4 font-bold text-navy">Let’s Get Started</h3>
  <p class="mt-2 text-xs">Create a new account</p>
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
    class="grid gap-2 max-w-lg w-full m-7"
  >
    <div class="flex gap-4 w-full">
      <div class="relative w-full">
        <hlm-icon
          size="sm"
          name="lucideUser"
          class="absolute top-4 left-4"
        ></hlm-icon>
        <app-form-input
          formControlName="name"
          placeholder="Name"
          type="text"
          [icon]="true"
        ></app-form-input>
      </div>

      <div class="relative w-full">
        <hlm-icon
          size="sm"
          name="lucideUser"
          class="absolute top-4 left-4"
        ></hlm-icon>
        <app-form-input
          formControlName="lastName"
          placeholder="Last name"
          type="text"
          [icon]="true"
        ></app-form-input>
      </div>
    </div>

    <div class="relative">
      <hlm-icon
        size="sm"
        name="lucidePhone"
        class="absolute top-4 left-4"
      ></hlm-icon>
      <app-form-input
        formControlName="phone_number"
        placeholder="Phone number"
        type="text"
        [icon]="true"
      ></app-form-input>
    </div>
    <div class="flex gap-4 w-full">
      <div class="relative w-full">
        <app-form-input
          class="calendar-picker"
          formControlName="birthday"
          placeholder="Birthday"
          type="date"
          [icon]="true"
          [dateRange]="birthdayDateRange"
        ></app-form-input>
      </div>
      <div class="relative w-full my-1">
        <hlm-icon
          size="sm"
          name="lucideUserCircle"
          class="absolute top-3 left-4"
        ></hlm-icon>
        <app-ui-select
          formControlName="gender"
          id="gender"
          selectName="gender"
          [values]="genders"
        ></app-ui-select>
      </div>
    </div>
    <div class="relative">
      <hlm-icon
        size="sm"
        name="lucideMail"
        class="absolute top-4 left-4"
      ></hlm-icon>
      <app-form-input
        formControlName="email"
        placeholder="Email"
        type="email"
        [icon]="true"
      ></app-form-input>
    </div>

    <div class="relative">
      <hlm-icon
        size="sm"
        name="lucideLock"
        class="absolute top-4 left-4"
      ></hlm-icon>
      <app-form-input
        formControlName="password"
        placeholder="Password"
        type="password"
        [icon]="true"
      ></app-form-input>
    </div>

    <div class="relative">
      <hlm-icon
        size="sm"
        name="lucideLock"
        class="absolute top-4 left-4"
      ></hlm-icon>
      <app-form-input
        formControlName="confirmPassword"
        placeholder="Confirm password"
        type="password"
        [icon]="true"
      ></app-form-input>
    </div>
    <div class="relative">
      <hlm-icon
        size="sm"
        name="lucideFileImage"
        class="absolute top-4 left-4"
      ></hlm-icon>
      <app-form-input
        formControlName="avatar"
        placeholder="Upload file"
        type="file"
        [icon]="true"
        accept=".jpeg,.png,.jpg"
        (change)="onFileSelected($event)"
      ></app-form-input>
    </div>
    <button hlmBtn size="lg" class="mt-2">Sign up</button>
  </form>
  <p class="text-xs">
    Have an account?
    <a
      [routerLink]="['/auth', 'login']"
      class="text-primary font-bold transition-all"
      >Log In</a
    >
  </p>
</section>
