<section
  class="grid justify-items-center font-poppins text-grey-dark md:py-20 px-4 md:px-16 xl:px-24"
>
  <form
    class="flex flex-col justify-between max-w-lg w-full h-[75vh] sm:h-[initial] m-7"
    [formGroup]="passwordForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <div class="h-[5.5rem]">
        <label class="text-navy font-medium text-sm">Old password</label>
        <div class="relative">
          <hlm-icon
            size="sm"
            name="lucideLock"
            class="absolute top-4 left-4"
          ></hlm-icon>
          <app-form-input
            formControlName="oldPassword"
            placeholder="Password"
            type="password"
            [icon]="true"
          ></app-form-input>
        </div>
      </div>

      <div class="h-[5.5rem]">
        <label class="text-navy font-medium text-sm">New password</label>
        <div class="relative">
          <hlm-icon
            size="sm"
            name="lucideLock"
            class="absolute top-4 left-4"
          ></hlm-icon>
          <app-form-input
            formControlName="newPassword"
            placeholder="Password"
            type="password"
            [icon]="true"
          ></app-form-input>
        </div>
      </div>

      <div class="h-[5.5rem] mb-10">
        <label class="text-navy font-medium text-sm">New password again</label>
        <div class="relative">
          <hlm-icon
            label="di"
            size="sm"
            name="lucideLock"
            class="absolute top-4 left-4"
          ></hlm-icon>
          <app-form-input
            formControlName="confirmPassword"
            placeholder="Confirm password"
            type="password"
            [icon]="true"
          ></app-form-input>
        </div>
        <span *ngIf="passwordMismatch" class="text-pink text-xs mt-1">
          Passwords are not the same
        </span>
      </div>
    </div>

    <button hlmBtn type="submit" size="lg" [disabled]="!passwordForm.valid">
      Save
    </button>
  </form>
</section>
