<div class="flex flex-col-reverse lg:flex-row lg:px-2">
  <nav class="lg:w-full">
    <ul class="grid grid-cols-3 grid-rows-2 lg:grid-rows-1 lg:grid-cols-8">
      <li
        class="lg:place-self-center z-[1] {{
          isSearchbarOpen
            ? 'lg:col-start-4'
            : 'lg:col-start-6 lg:row-start-1 lg:col-span-1'
        }}"
      >
        <a
          class="flex items-center flex-col text-black lg:flex-row gap-2"
          [routerLink]="['auth/login']"
          routerLinkActive="text-blue"
        >
          <hlm-icon size="base" name="lucideUser" />
          <span class="text-xs font-poppins">Login</span>
        </a>
      </li>
      <li
        class="lg:place-self-center z-[1] {{
          isSearchbarOpen
            ? 'lg:col-start-5'
            : 'lg:col-start-7 lg:row-start-1 lg:col-span-1'
        }}"
      >
        <a
          class="flex items-center flex-col text-black lg:flex-row gap-2"
          [routerLink]="['/cart']"
          routerLinkActive="text-blue"
        >
          <hlm-icon size="base" name="lucideShoppingCart" />
          <span class="text-xs font-poppins text-grey">$0.00</span>
        </a>
      </li>
      <li class="lg:place-self-center lg:col-start-8">
        <button
          class="flex items-center flex-col mx-auto lg:flex-row gap-2 {{
            isSearchbarOpen ? 'text-blue' : 'text-black'
          }}"
          (click)="toggleSearchbarOpen()"
        >
          <hlm-icon size="base" name="lucideSearch" />
          <span class="text-xs font-poppins">Search</span>
        </button>
      </li>
      <li
        class="col-start-2 col-span-2 row-start-2 lg:row-start-1 lg:col-start-6 lg:place-self-center lg:w-full {{
          isSearchbarOpen ? 'max-[300px]:col-span-3' : ''
        }}"
      >
        <form
          class="{{ isSearchbarOpen ? 'w-full' : '' }}"
          (submit)="searchProducts($event)"
        >
          <input
            class="max-w-70 mx-auto my-2 transition-all ease-in-out duration-200  {{
              isSearchbarOpen ? 'opacity-100 w-full' : 'opacity-0 w-0'
            }}"
            hlmInput
            placeholder="Search"
            type="text"
            [formControl]="searchbar"
          />
        </form>
      </li>
      <li
        class="row-start-2 place-self-center lg:row-start-1 lg:col-start-1 {{
          isSearchbarOpen
            ? 'max-[300px]:row-start-3 max-[300px]:col-span-3 col-start-1'
            : 'col-start-2'
        }}"
      >
        <div class="flex gap-2">
          <div class="flex w-full items-center justify-center flex-row">
            <button>EN</button>
            <hlm-icon size="sm" name="lucideChevronDown" class="text-black" />
          </div>
          <div class="flex w-full items-center justify-center flex-row">
            <button>USD</button>
            <hlm-icon size="sm" name="lucideChevronDown" class="text-black" />
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
