<div class="hidden lg:block">
  <app-top-header></app-top-header>
</div>
<header
  class="fixed 2xl:container lg:mx-auto bottom-0 left-0 border-t-[1px] z-50 w-full bg-white border-blue-light lg:flex lg:items-center lg:static lg:py-6 lg:px-10 lg:justify-between"
>
  <img class="hidden lg:block" src="../../../assets/logo.png" alt="App logo" />
  <nav>
    <ul
      class="flex justify-between items-center mx-6 my-2 text-grey-neutral font-poppins text-xs lg:text-xl lg:gap-10 lg:text-black"
    >
      <li class="lg:hover:text-primary">
        <a
          class="flex items-center flex-col"
          [routerLink]="['/']"
          routerLinkActive="text-blue"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <hlm-icon class="lg:hidden" size="base" name="lucideHome" />
          <span>Home</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/shop']"
          routerLinkActive="text-blue"
          class="flex items-center flex-col"
        >
          <hlm-icon class="lg:hidden" size="base" name="lucideShoppingBag" />
          <app-dropdown-menu [menuItems]="(categories$ | async) ?? []"
            >Shop</app-dropdown-menu
          >
        </a>
      </li>
      <li class="lg:hover:text-primary">
        <a
          class="flex items-center flex-col"
          [routerLink]="['/news']"
          routerLinkActive="text-blue"
        >
          <hlm-icon class="lg:hidden" size="base" name="lucideNewspaper" />
          <span>News</span>
        </a>
      </li>
      <li class="lg:hover:text-primary">
        <a
          class="flex items-center flex-col"
          [routerLink]="['/contact']"
          routerLinkActive="text-blue"
        >
          <hlm-icon class="lg:hidden" size="base" name="lucideContact" />
          <span>Contact</span>
        </a>
      </li>
      <li class="flex items-center h-fit lg:hidden">
        <app-hamburger-menu></app-hamburger-menu>
      </li>
    </ul>
  </nav>
</header>
<app-breadcrumbs></app-breadcrumbs>
