<section
  class="max-w-[800px] mx-auto h-[75svh] pb-10 md:pt-10 xl:pb-24 px-4 sm:px-16 xl:px-24 md:pl-28 text-navy"
>
  <hr class="h-0.5 my-4 bg-grey-light border-0 lg:hidden" />
  <ng-container>
    <form
      [formGroup]="updateCardForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col justify-between gap-4 w-full h-full"
    >
      <div>
        <h2 class="font-poppins font-bold text-navy mb-4">
          Update credit card
        </h2>
        <div class="relative text-grey-neutral w-full">
          <hlm-icon
            size="sm"
            name="lucideCreditCard"
            class="absolute top-3 left-4"
          ></hlm-icon>
          <app-form-input
            formControlName="cardNumber"
            placeholder="Card Number"
            type="text"
            [icon]="true"
            [minLength]="16"
            [maxLength]="16"
          ></app-form-input>
        </div>
        <div class="relative text-grey-neutral w-full">
          <hlm-icon
            size="sm"
            name="lucideLock"
            class="absolute top-3 left-4"
          ></hlm-icon>
          <app-form-input
            formControlName="securityCode"
            placeholder="Security Code"
            type="text"
            [icon]="true"
            [minLength]="3"
            [maxLength]="4"
          ></app-form-input>
        </div>
        <div class="relative text-grey-neutral w-full">
          <hlm-icon
            size="sm"
            name="lucideUser2"
            class="absolute top-3 left-4"
          ></hlm-icon>
          <app-form-input
            formControlName="cardHolder"
            placeholder="Card Holder"
            type="text"
            [icon]="true"
          ></app-form-input>
        </div>
      </div>

      <div class="flex gap-2 flex-wrap justify-center mb-4 lg:flex-nowrap">
        <button
          type="submit"
          [disabled]="this.updateCardForm.invalid"
          class="bg-primary py-4 w-full rounded-sm text-white self-center shadow-lg disabled:bg-grey-light"
        >
          Update credit card
        </button>
        <button
          type="button"
          (click)="removePaymentMethod(); $event.preventDefault()"
          class="bg-pink py-4 w-full rounded-sm text-white self-center shadow-lg"
        >
          Remove credit card
        </button>
      </div>
    </form>
  </ng-container>
</section>
