<div class="flex items-center justify-center w-full p-2">
  <button (click)="changeImagePrev()" class="relative -right-[20px] sm:right-0">
    <hlm-icon
      size="base"
      name="lucideChevronLeft"
      color="hsl(var(--blue))"
    ></hlm-icon>
  </button>
  <img
    class="md:h-full sm:min-w-80 object-contain bg-primary-foreground"
    [src]="currentImage"
    alt="Product image"
  />
  <button (click)="changeImageNext()" class="relative -left-[20px] sm:left-0">
    <hlm-icon
      size="base"
      name="lucideChevronRight"
      color="hsl(var(--blue))"
    ></hlm-icon>
  </button>
</div>
<div class="my-5 flex gap-1 items-center justify-center">
  @for (image of images; track image) {
    <button (click)="changeImage(image)">
      <img
        class="h-20 object-cover border-2 border-grey-light mr-1 bg-primary-foreground"
        [class]="{ 'border-primary': image === currentImage }"
        [src]="image"
        [alt]="image"
      />
    </button>
  }
</div>
