<div
  class="2xl:container bg-grey-light font-proxima text-black flex flex-col md:flex-row items-center justify-between py-4 px-6 rounded-sm"
>
  <span>{{ totalProducts }} Items</span>
  <div>
    <span class="ml-10 mr-1">Sort By</span>
    <select
      id="sort"
      name="sort"
      (change)="updateSortCriteria($event)"
      class="peer h-full w-30 rounded-[7px] border border-grey border-t-transparent bg-transparent px-3 py-2.5 text-sm font-normal outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-light placeholder-shown:border-t-blue empty:!bg-grey-dark focus:border focus:border-primary focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-grey-light"
    >
      @for (option of sortOptions; track $index) {
        <option [value]="option">{{ option | capitalizeFirst }}</option>
      }
    </select>
    <span class="ml-10 mr-1">Order</span>
    <select
      id="order"
      name="order"
      (change)="updateOrder($event)"
      class="peer h-full w-30 rounded-[7px] border border-grey border-t-transparent bg-transparent px-3 py-2.5 text-sm font-normal outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-light placeholder-shown:border-t-blue empty:!bg-grey-dark focus:border focus:border-primary focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-grey-light"
    >
      >
      <option value="asc" active>Ascending</option>
      <option value="desc">Descending</option>
    </select>

    <span class="ml-10 mr-1">Show</span>
    <select
      id="limit-products"
      name="limit-products"
      (change)="updateLimit($event)"
      class="peer h-full w-30 rounded-[7px] border border-grey border-t-transparent bg-transparent px-3 py-2.5 text-sm font-normal outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-light placeholder-shown:border-t-blue empty:!bg-grey-dark focus:border focus:border-primary focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-grey-light"
    >
      >
      <option value="20" active>20</option>
      <option value="10">10</option>
      <option value="5">5</option>
    </select>
  </div>

  <div class="flex space-x-2 mt-2 md:mt-0">
    <button
      hlmBtn
      type="button"
      (click)="setViewType(true)"
      class="flex items-center {{ hasMultipleLayouts ? '' : 'hidden' }}"
    >
      <hlm-icon size="base" name="lucideLayoutGrid" class="mr-1 text-primary" />
    </button>
    <button
      hlmBtn
      type="button"
      (click)="setViewType(false)"
      class="flex items-center {{ hasMultipleLayouts ? '' : 'hidden' }}"
    >
      <hlm-icon size="base" name="lucideList" class="mr-1 text-primary" />
    </button>
    <button
      hlmBtn
      type="button"
      (click)="openDrawer()"
      class="flex items-center xl:hidden"
    >
      <hlm-icon size="base" name="lucideFilter" class="mr-1 text-primary" />
    </button>
  </div>
</div>
