<div *ngIf="order$ | async as order">
  <div class="container mb-40 pt-20 px-4 lg:px-40">
    <div class="mb-4">
      <h3 class="text-lg font-semibold mb-2">Ordered Items</h3>
      <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4">
        @for (
          orderProducts of showAll
            ? order.orderProducts
            : (order.orderProducts | slice: 0 : 3);
          track orderProducts.variantId
        ) {
          <div
            class="flex flex-col gap-4 mb-4 border-2 border-grey-light rounded-md p-4 shadow-none transition-shadow duration-300 hover:border-primary hover:shadow-2xl hover:shadow-gray-dark"
          >
            <div class="flex gap-4">
              <img
                [src]="orderProducts.product.images[0]"
                alt="product image"
                class="w-[25%] min-w-16 max-w-xs"
              />
              <div class="w-full flex flex-col justify-around">
                <p class="font-bold">
                  {{ orderProducts.product.brand }}
                  {{ orderProducts.product.name }}
                </p>
                <p class="font-light break-keep">
                  Size:
                  <span class="font-normal">{{
                    orderProducts.variant.size
                  }}</span>
                </p>
                <p class="font-light break-keep">
                  Color:
                  <span class="font-normal">{{
                    orderProducts.variant.color
                  }}</span>
                </p>
                <p class="font-light break-keep">
                  Condition:
                  <span class="font-normal">{{
                    orderProducts.variant.condition
                  }}</span>
                </p>

                <p class="text-primary font-bold">
                  <span class="font-light break-keep">
                    {{ orderProducts.quantityToBuy }} x
                  </span>
                  {{ orderProducts.product.price | currency }}
                </p>
              </div>
            </div>
          </div>
        }
      </div>
      @if (order.products.length > 3) {
        <button
          (click)="toggleShowAll()"
          class="mt-4 px-4 py-2 bg-primary text-white rounded"
        >
          {{ showAll ? 'Show Less' : 'Show More' }}
        </button>
      }
    </div>

    <h2 class="mt-8 text-2xl font-bold">Shipping Details</h2>
    <div
      class="grid grid-cols-2 gap-3 my-4 border-2 border-grey-light rounded-md p-5 font-light md:text-xl"
    >
      <p class="text-grey-neutral">Date Shipping</p>
      <p class="text-right">{{ order.createdAt | date: 'longDate' }}</p>
      <p class="text-grey-neutral">Shipping carrier</p>
      <p class="text-right">{{ order.shippingMethod.shipping_carrier }}</p>
      <p class="text-grey-neutral">Address</p>
      <p class="text-right">
        {{ order.address.street_address }}, {{ order.address.city }},
        {{ order.address.state_province_region }},
        {{ order.address.zip_code }}
      </p>
    </div>

    <h2 class="mt-8 text-2xl font-bold">Payment Details</h2>
    <div
      class="grid grid-cols-2 gap-3 my-4 border-2 border-grey-light rounded-md p-5 font-light md:text-xl"
    >
      <p class="text-grey-neutral">Items ({{ getTotalVariants(order) }})</p>
      <p class="text-right">
        {{ order.orderPrice - order.shippingMethod.shipping_price | currency }}
      </p>
      <p class="text-grey-neutral">Shipping</p>
      <p class="text-right">
        {{ order.shippingMethod.shipping_price | currency }}
      </p>
      <div
        class="m-3 col-span-2 border-t-2 border-dashed border-grey-light"
      ></div>
      <p class="font-bold">Total price</p>
      <p class="text-right text-primary font-bold">
        {{ order.orderPrice | currency }}
      </p>
    </div>
  </div>
</div>
