<div
  class="relative w-fit font-proxima text-navy"
  tabindex="1"
  clickOutside
  (clickOutside)="closeDropDown()"
  (focus)="openDropDown()"
  (blur)="closeDropDown()"
  role="listbox"
>
  <input
    type="text"
    [placeholder]="placeholder"
    class="w-full px-4 py-2 border border-grey rounded cursor-pointer"
    [value]="this.control.value | titlecase"
    [formControl]="control"
    (click)="openDropDown()"
    (keydown)="handleEscapeKey($event)"
  />
  <hlm-icon
    size="sm"
    [name]="showDropDown ? 'lucideChevronUp' : 'lucideChevronDown'"
    class="absolute top-1/2 transform -translate-y-1/2 right-4 pointer-events-none"
  ></hlm-icon>
  <ul
    *ngIf="showDropDown"
    class="absolute z-10 w-full bg-white shadow-xl rounded mt-1 max-h-[60svh] overflow-y-auto"
  >
    <li *ngFor="let option of filteredOptions$ | async">
      <button
        class="w-full font-semibold text-left px-4 py-2 cursor-pointer hover:bg-grey-light"
        (click)="onSelect(option)"
        (keydown)="handleEscapeKey($event)"
      >
        {{ option | titlecase }}
      </button>
    </li>
  </ul>
</div>
