<section
  class="max-w-[800px] mx-auto h-[75svh] pb-10 md:pt-10 xl:pb-24 px-4 sm:px-16 xl:px-24 md:pl-28 text-navy"
>
  <form
    class="flex flex-col justify-between gap-4 w-full h-full"
    [formGroup]="genderForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="grid gap-1">
      <h2 class="font-poppins font-bold text-navy mb-4">Change your gender</h2>
      <label class="text-navy font-medium text-sm">Choose gender</label>
      <app-ui-select
        formControlName="gender"
        id="gender"
        selectName="gender"
        [values]="genders"
        class="h-[5.5rem]"
      ></app-ui-select>
    </div>

    <button hlmBtn type="submit" size="lg" [disabled]="!genderForm.valid">
      Save
    </button>
  </form>
</section>
